@model IEnumerable<WeatherEye.Models.DustSensor>

@{
    ViewData["Title"] = "DustSensor";

    var tempMax2_5 = Model.FirstOrDefault().IntensityPm2_5;
    var tempMin2_5 = Model.FirstOrDefault().IntensityPm2_5;
    var tempMax10 = Model.FirstOrDefault().IntensityPm10;
    var tempMin10 = Model.FirstOrDefault().IntensityPm10;

    DateTime morning = new DateTime(2023, 01, 01, 4, 00, 00);
    //DateTime evening = new DateTime(0, 0, 0, 22, 00, 00);

    @foreach (var dust in Model)
    {
        @if (tempMax2_5 < dust.IntensityPm2_5)
        {
            tempMax2_5 = dust.IntensityPm2_5;
        }
        else if (tempMin2_5 > dust.IntensityPm2_5)
        {
            tempMin2_5 = dust.IntensityPm2_5;
        }
    }

    @foreach (var dust in Model)
    {
        @if (tempMax10 < dust.IntensityPm10)
        {
            tempMax10 = dust.IntensityPm10;
        }
        else if (tempMin10 > dust.IntensityPm10)
        {
            tempMin10 = dust.IntensityPm10;
        }
    }
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
</head>

<h2>Wykres dla danych z czujnika pyłów</h2>
<h1>Szczegóły dnia </h1>
<h2>Data: @ViewData["Date"]</h2>
<div>
    <canvas id="dustChart"></canvas>
</div>

<script>
    let dates = [];
    let intensityPm2_5 = [];
    let intensityPm10 = [];


    @foreach (var item in Model)
    {
        <text>
            dates.push('@item.DateOfReading.ToString("yyyy-MM-dd HH:mm")');
            intensityPm2_5.push('@item.IntensityPm2_5');
            intensityPm10.push('@item.IntensityPm10');
        </text>
    }

    for (let i = 0; i < intensityPm2_5.length; i++) {
        intensityPm2_5[i] = intensityPm2_5[i].toString();
        intensityPm2_5[i] = intensityPm2_5[i].replace(",", ".");
    }

    for (let i = 0; i < intensityPm10.length; i++) {
        intensityPm10[i] = intensityPm10[i].toString();
        intensityPm10[i] = intensityPm10[i].replace(",", ".");
    }

    let ctx = document.getElementById('dustChart').getContext('2d');

    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates, // Dane na osi OX
            datasets: [{
                label: 'PM2.5 Data', // Etykieta wykresu
                data: intensityPm2_5, // Dane na osi OY
                backgroundColor: 'rgba(75, 192, 192, 0.2)', // Kolor wypełnienia wykresu
                fill: true,
                borderColor: 'rgba(75, 192, 192, 1)', // Kolor linii wykresu
                tension: 0.1, // Grubość linii wykresu
                yAxisID: 'y',
            },
            {
                label: 'PM10 Data',
                data: intensityPm10,
                backgroundColor: 'rgba(139, 0, 0, 0.2)',
                fill: true,
                borderColor: 'rgba(139, 0, 0, 0.2)',
                tension: 0.1,
                yAxisID: 'y1',
            }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: 'true',
                        text: 'Oś dla danych PM2.5',
                        font: {
                            size: 30
                        }
                    },
                },
                y1: {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: 'true',
                        text: 'Oś dla danych PM10',
                        font: {
                            size: 30
                        }
                    },
                }
            }
        }
    });

</script>

<br />

<h2>Odczyty z czujnika pyłów</h2>

<table class="table">
    <thead>
        <tr>
            <th>IntensityPm2_5</th>
            <th>IntensityPm10</th>
            <th>Data Odczytu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dust in Model)
        {
            <tr>
                @if (tempMax2_5 == dust.IntensityPm2_5)
                {
                    <td>@Html.DisplayFor(modelItem => dust.IntensityPm2_5)<sup>Maks</sup></td>
                }
                else if (tempMin2_5 == dust.IntensityPm2_5)
                {
                    <td>@Html.DisplayFor(modelItem => dust.IntensityPm2_5)<sup>Min</sup></td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem =>  dust.IntensityPm2_5)</td>
                }

                @if (tempMax10 == dust.IntensityPm10)
                {
                    <td>@Html.DisplayFor(modelItem => dust.IntensityPm10)<sup>Maks</sup></td>
                }
                else if (tempMin10 == dust.IntensityPm10)
                {
                    <td>@Html.DisplayFor(modelItem => dust.IntensityPm10)<sup>Min</sup></td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem =>  dust.IntensityPm10)</td>
                }

                @if (dust.DateOfReading.Hour <= morning.Hour)//noc
                {
                <td style="background:blue; color:yellow;">@dust.DateOfReading.ToString("yyyy-MM-dd HH:mm")</td>
                }
                else
                {
                <td style="background:gold ;color:blue;">@dust.DateOfReading.ToString("yyyy-MM-dd HH:mm")</td>
                }
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-action="DustSensorView" class="btn btn-primary" style="font-size:28px;">Powrót</a>
<br />
<br />