@model IEnumerable<WeatherEye.Models.DustSensor>

@{
    ViewData["Title"] = "DustSensor";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
</head>

<h2>Wykres dla danych z czujnika pyłów</h2>

<div>
    <canvas id="dustChart"></canvas>
</div>

<script>
    let dates = [];
    let intensityPm2_5 = [];
    let intensityPm10 = [];


    @foreach (var item in Model)
    {
        <text>
            dates.push('@item.DateOfReading.ToString("yyyy-MM-dd HH:mm")');
            intensityPm2_5.push('@item.IntensityPm2_5');
            intensityPm10.push('@item.IntensityPm10');
        </text>
    }

    for (let i = 0; i < intensityPm2_5.length; i++) {
        intensityPm2_5[i] = intensityPm2_5[i].toString();
        intensityPm2_5[i] = intensityPm2_5[i].replace(",", ".");
    }

    for (let i = 0; i < intensityPm10.length; i++) {
        intensityPm10[i] = intensityPm10[i].toString();
        intensityPm10[i] = intensityPm10[i].replace(",", ".");
    }

    let ctx = document.getElementById('dustChart').getContext('2d');

    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates, // Dane na osi OX
            datasets: [{
                label: 'PM2.5 Data', // Etykieta wykresu
                data: intensityPm2_5, // Dane na osi OY
                backgroundColor: 'rgba(75, 192, 192, 0.2)', // Kolor wypełnienia wykresu
                fill: true,
                borderColor: 'rgba(75, 192, 192, 1)', // Kolor linii wykresu
                tension: 0.1, // Grubość linii wykresu
                yAxisID: 'y',
            },
            {
                label: 'PM10 Data', // Etykieta wykresu
                data: intensityPm10, // Dane na osi OY
                backgroundColor: 'rgba(192, 192, 192, 0.2)', // Kolor wypełnienia wykresu
                fill: true,
                borderColor: 'rgba(192, 192, 192, 1)', // Kolor linii wykresu
                tension: 0.1, // Grubość linii wykresu
                yAxisID: 'y1',
            }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: 'true',
                        text: 'Oś dla danych PM2.5',
                    },
                },
                y1: {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: 'true',
                        text: 'Oś dla danych PM10',
                    },
                }
            }
        }
    });


</script>

<br />

<h2>Odczyty z czujnika pyłów</h2>

<table class="table">
    <thead>
        <tr>
            <th>IntensityPm2_5</th>
            <th>IntensityPm10</th>
            <th>Data Odczytu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uv in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => uv.IntensityPm2_5)&micro;G/m<sup>3</sup></td>
                <td>@Html.DisplayFor(modelItem => uv.IntensityPm10)&micro;G/m<sup>3</sup></td>
                <td>@Html.DisplayFor(modelItem => uv.DateOfReading)</td>
            </tr>
        }
    </tbody>
</table>