@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/mainSite.css"/>*@
    <link rel="stylesheet" type="text/css" href="~/css/mainSitePro.css" />
    <link rel="stylesheet" type="text/css" href="~/css/boxes.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    @if (@ViewBag.Environmental.Temperature <= 0)
    {
        <body class="mainPage"
          style="background: url('') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;" />
    }
    else if (0 < @ViewBag.Environmental.Temperature && @ViewBag.Environmental.Temperature <= 15)
    {
        <body class="mainPage"
          style="background: url('css/backgrounds/sun&clouds.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;" />
    }
    else
    {
        <body class="mainPage"
          style="background: url('css/backgrounds/sunny.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;" />
    }

    @*Napis główny*@
    <div class="text-center">
        <p id="title">WeatherEye</p>
        <p id="subtitle">The best weather station</p>
    </div>

    <div class="container1">
        @*Streszczone informację*@
        <div class="mainDiv">

            @*Pierwszy wiersz kafelków*@
            <div class="rowInfoBox">
                @*Temperature Data Box*@
                <div class="infoBox">
                    <p id="temperature">@ViewBag.Environmental.Temperature.ToString()&degC</p>
                    <p id="location">Wrocław</p>
                    <p id="currDate">@DateTime.Now.ToString("dd.MM.yyyy")</p>
                </div>
                @*Rain Data Box*@
                <div class="infoBox">
                    <p id="rain"><img src="~/css/icons/middle_rain.png" /> @ViewBag.Environmental.Dampness%</p>
                    <p id="pressure">@ViewBag.Environmental.Pressure hPa</p>
                </div>
            </div>

            @*Drugi wiersz kafelków*@
            <div class="rowInfoBox">
                @*UVI data box*@
                <div class="infoBox">
                    <p id="intensity">light intensity</p>
                    <p id="slider"><img src="~/css/icons/short_arrow.png" style="width:75%;" /></p>
                    <p id="uvi">@ViewBag.UV.IlluminanceUV UVI</p>
                </div>
                @*Dust sensor Box*@
                <div class="infoBox">
                    @if (0 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 13)
                    {
                        <img src="~/css/icons/nice.png" style="width:10%;"/>
                        <p id="airCondition" style="background:rgb(0, 0, 255);">@ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                    }
                    else if (13 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 35)
                    {
                        <img src="~/css/icons/ok.png" style="width:25%; text-align:left; margin:10%; margin-left:-35%" />
                        <p id="airCondition" >PM2.5: @ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                        <p id="airCondition1" style="margin-top:-5%;">PM10: @ViewBag.Dust.IntensityPm10 &#181/m&sup3 </p>

                    }
                    else if (35 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 55)
                    {
                        <p id="airCondition" style="background:rgb(255, 255, 0);">@ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                    }
                    else if (55 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 75)
                    {
                        <p id="airCondition" style="background:rgb(255, 0, 255);">@ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                    }
                    else if (75 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 110)
                    {
                        <p id="airCondition" style="background:rgb(255, 0, 0);">@ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                    }
                    else if (110 < @ViewBag.Dust.IntensityPm2_5)
                    {
                        <p id="airCondition" style="background:rgb(100, 0, 0); color:white;">@ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                    }
                </div>

            </div>

            @*Dolny długi Kafelek*@
            <div class="bottomBox">
                <p>Historia z ostatnich dni</p>
            </div>
        </div>

        @*Kapibara*@

        <div class="capy">
            @if (@ViewBag.Environmental.Temperature <= 0)
            {
                <img src="/css/capi/snowman.png" />
            }
            else if (0 < @ViewBag.Environmental.Temperature && @ViewBag.Environmental.Temperature <= 15)
            {
                <img src="/css/capi/capy.png" />
            }
            else
            {
                <img src="/css/capi/capy_with_sunglasses.png" />
            }

        </div>
    </div>


    @*        <div id="stats">
    <p id="actualDate">Aktualna data: @DateTime.Now.ToString("yyyy-MM-dd")</p>
    <p id="actualTime">Aktualna godzina: @DateTime.Now.ToString("HH:mm") </p>
    <p id="timeOfRead">Godzina odczytów: @ViewBag.Temperature.TimeOfReading</p>
    <p id="location">Wrocław</p>
    </div>*@
</body>
