@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/mainSite.css"/>*@
    <link rel="stylesheet" type="text/css" href="~/css/mainSitePro.css" />
    <link rel="stylesheet" type="text/css" href="~/css/boxes.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    @if (@ViewBag.Environmental.Temperature <= 0)
    {
        <body class="mainPage"
          style="background: url('') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;" />
    }
    else if (0 < @ViewBag.Environmental.Temperature && @ViewBag.Environmental.Temperature <= 15)
    {
        <body class="mainPage"
          style="background: url('css/backgrounds/sun&clouds.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;" />
    }
    else
    {
        <body class="mainPage"
          style="background: url('css/backgrounds/sunny.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;" />
    }

    @*Napis główny*@
    <div class="text-center">
        <p id="title">WeatherEye</p>
        <p id="subtitle">The best weather station</p>
    </div>

    <div class="container1">
        @*Streszczone informację*@
        <div class="mainDiv">

            @*Pierwszy wiersz kafelków*@
            <div class="rowInfoBox">
                @*Temperature Data Box*@
                <div class="infoBox">
                    <p id="temperature">@ViewBag.Environmental.Temperature.ToString()&degC</p>
                    <p id="location">Wrocław</p>
                    <p id="currDate">@DateTime.Now.ToString("dd.MM.yyyy")</p>
                </div>
                @*Rain Data Box*@
                <div class="infoBox">
                    <p id="rain"><img src="~/css/icons/middle_rain.png" /> @ViewBag.Environmental.Dampness%</p>
                    <p id="pressure">@ViewBag.Environmental.Pressure hPa</p>
                </div>
            </div>

            @*Drugi wiersz kafelków*@
            <div class="rowInfoBox">
                @*UVI data box*@
                <div class="infoBox">
                    <p id="intensity">light intensity</p>
                    <p id="slider"><img src="~/css/icons/short_arrow.png" style="width:75%;" /></p>
                    <p id="uvi">@ViewBag.UV.IlluminanceUV UVI</p>
                </div>
                @*Dust sensor Box*@
                <div class="infoBox">
                    <div id="iaq">
                        @if (0 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 13)
                        {
                            <img src="~/css/icons/nice.png" />
                        }
                        else if (13 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 35)
                        {
                            <img src="~/css/icons/nice.png" />
                        }
                        else if (35 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 55)
                        {
                            <img src="~/css/icons/ok.png" />
                        }
                        else if (55 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 75)
                        {
                            <img src="~/css/icons/ok.png" />
                        }
                        else if (75 < @ViewBag.Dust.IntensityPm2_5 && @ViewBag.Dust.IntensityPm2_5 <= 110)
                        {
                            <img src="~/css/icons/bad.png" />
                        }
                        else if (110 < @ViewBag.Dust.IntensityPm2_5)
                        {
                            <img src="~/css/icons/veryBad.png" />
                        }
                        <span>IAQ<p>@ViewBag.Environmental.IAQuality</p></span>
                    </div>
                    <p id="airCondition">PM2.5: @ViewBag.Dust.IntensityPm2_5 &#181/m&sup3 </p>
                    <p id="airCondition1" style="margin-top:-5%;">PM10: @ViewBag.Dust.IntensityPm10 &#181/m&sup3 </p>
                    
                   
                </div>

            </div>

            @*Dolny długi Kafelek*@
            <div class="bottomBox">
                <div class="topDiv">
                    <div class="fifth">
                        <div>@DateTime.Now.AddDays(-4).ToString("dd.MM")</div>
                        <div class="tempBox">16&deg;C</div>
                        <div>@DateTime.Now.AddDays(-4).ToString("ddd", new System.Globalization.CultureInfo("en-US"))</div>
                    </div>
                    <div class="fourth">
                        <div>@DateTime.Now.AddDays(-3).ToString("dd.MM")</div>
                        <div class="tempBox">17&deg;C</div>
                        <div>@DateTime.Now.AddDays(-3).ToString("ddd", new System.Globalization.CultureInfo("en-US"))</div>
                    </div>
                    <div class="third">
                        <div>@DateTime.Now.AddDays(-2).ToString("dd.MM")</div>
                        <div class="tempBox">18&deg;C</div>
                        <div>@DateTime.Now.AddDays(-2).ToString("ddd", new System.Globalization.CultureInfo("en-US"))</div>
                    </div>
                    <div class="second">
                        <div>@DateTime.Now.AddDays(-1).ToString("dd.MM")</div>
                        <div class="tempBox">19&deg;C</div>
                        <div>@DateTime.Now.AddDays(-1).ToString("ddd", new System.Globalization.CultureInfo("en-US"))</div>
                    </div>
                    <div class="first">
                        <div>@DateTime.Now.ToString("dd.MM")</div>
                        <div class="tempBox">20&deg;C</div>
                        <div>@DateTime.Now.ToString("ddd", new System.Globalization.CultureInfo("en-US"))</div>
                    </div>
                    <div class="longArrow">
                        <img src="~/css/icons/long_arrow.png"/>
                    </div>
                    <div class="botIcons">
                        <span class="fifthIcon">
                            <img src="~/css/icons/cloudy_icon.png"/>
                        </span>
                        <span class="fourthIcon">
                            <img src="~/css/icons/rain_icon.png" />
                        </span>
                        <span class="thirdIcon">
                            <img src="~/css/icons/sunny_icon.png" />
                        </span>
                        <span class="secondIcon">
                            <img src="~/css/icons/normal_icon.png" />
                        </span>
                        <span class="firstIcon">
                            <img src="~/css/icons/heavyRain_icon.png" />
                        </span>
                    </div>
                </div>               
            </div>
        </div>

        @*Kapibara*@

        <div class="capy">
            @if (@ViewBag.Environmental.Temperature <= 0)
            {
                <img src="/css/capi/snowman.png" />
            }
            else if (0 < @ViewBag.Environmental.Temperature && @ViewBag.Environmental.Temperature <= 15)
            {
                <img src="/css/capi/capy.png" />
            }
            else
            {
                <img src="/css/capi/capy_with_sunglasses.png" />
            }

        </div>
    </div>


    @*        <div id="stats">
    <p id="actualDate">Aktualna data: @DateTime.Now.ToString("yyyy-MM-dd")</p>
    <p id="actualTime">Aktualna godzina: @DateTime.Now.ToString("HH:mm") </p>
    <p id="timeOfRead">Godzina odczytów: @ViewBag.Temperature.TimeOfReading</p>
    <p id="location">Wrocław</p>
    </div>*@
</body>
