@model IEnumerable<WeatherEye.Models.RainSensor>

@{
    ViewData["Title"] = "Szczegóły";

    var tempMax = Model.FirstOrDefault().Rain;
    var tempMin = Model.FirstOrDefault().Rain;
    DateTime morning = new DateTime(2023, 01, 01, 4, 00, 00);
    //DateTime evening = new DateTime(0, 0, 0, 22, 00, 00);

    @foreach (var rain in Model)
    {
        @if (tempMax < rain.Rain)
        {
            tempMax = rain.Rain;
        }
        else if (tempMin > rain.Rain)
        {
            tempMin = rain.Rain;
        }
    }

}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
</head>

<h2>Odczyty z czujnika UV</h2>
<h1>Szczegóły dnia </h1>
<h2>Data: @ViewData["Date"]</h2>
<div>
    <canvas id="myChart"></canvas>
</div>
</br>
<script>
    // Pobranie danych z listy "rain" i przypisanie ich do zmiennych
    let dates = [];
    let rain = [];
    let intensity = [];

    @foreach (var item in Model)
    {
        <text>
            dates.push('@item.DateOfReading.ToString("yyyy-MM-dd")');
            rain.push('@item.Rain');
            intensity.push('@item.IntensityOfRain');
        </text>
    }
            // Konfiguracja i generowanie wykresu liniowego przy użyciu danych z listy
    for (let i = 0; i < rain.length; i++) {
        rain[i] = rain[i].toString();
        rain[i] = rain[i].replace(",", ".");
    }

    for (let i = 0; i < intensity.length; i++) {
        intensity[i] = intensity[i].toString();
        intensity[i] = intensity[i].replace(",", ".");
    }

    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates, // Dane na osi OX
            datasets: [{
                label: 'Rain Data', // Etykieta wykresu
                data: rain, // Dane na osi OY
                backgroundColor: 'rgba(75, 192, 192, 0.2)', // Kolor wypełnienia wykresu
                fill: true,
                borderColor: 'rgba(75, 192, 192, 1)', // Kolor linii wykresu
                tension: 0.1 // Grubość linii wykresu
                yAxisID: 'y',
            },
            {
                label: 'Intensity Data',
                data: intensity,
                backgroundColor: 'rgba(139, 0, 0, 0.2)',
                fill: true,
                borderColor: 'rgba(139, 0, 0, 0.2)',
                tension: 0.1, 
                yAxisID: 'y1',
            }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: 'true',
                        text: 'Oś dla danych RAIN',
                        font: {
                            size: 30
                        }
                    },
                },
                y1: {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: 'true',
                        text: 'Oś dla danych Intensity',
                        font: {
                            size: 30
                        }
                    },
                }
            }
        }
    });
</script>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>Rain</th>
            <th>IntensityOfRain</th>
            <th>Data Odczytu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rain in Model)
        {
            <tr>
                @if (tempMax == rain.Rain)
                {
                    <td>@Html.DisplayFor(modelItem => rain.Rain)<sup>Maks</sup></td>
                }
                else if (tempMin == rain.Rain)
                {
                    <td>@Html.DisplayFor(modelItem => rain.Rain)<sup>Min</sup></td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => rain.Rain)</td>
                }

                <td>@Html.DisplayFor(modelItem => rain.IntensityOfRain)</td>

                @if (rain.DateOfReading.Hour <= morning.Hour)//noc
                {
                    <td style="background:blue; color:yellow;">@rain.DateOfReading.ToString("yyyy-MM-dd HH:mm")</td>
                }
                else
                {
                    <td style="background:gold ;color:blue;">@rain.DateOfReading.ToString("yyyy-MM-dd HH:mm")</td>
                }
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-action="RainSensorView" class="btn btn-primary" style="font-size:28px;">Powrót</a>
<br />
<br />