@model IEnumerable<WeatherEye.Models.UVSensor>

@{
    ViewData["Title"] = "UV Sensor";
    
}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
</head>
<h2>Wykres dla danych z czujnika UV</h2>

<div>
    <canvas id="myChart"></canvas>
</div>
<div id="values"></div>

<script>
    let dates = [];
    let uv = []; 
    //fetch('/api/sensors/S6')
    //.then(response => {
    //    if (!response.ok) {
    //        throw new Error('Error fetching data from API');
    //    }
    //    //console.log(response);
    //return response.json();
    //})
    //.then(data => {
    //    data.forEach(item => {
    //        dates.push(item.date);
    //        uv.push(item.value);
    //    })

    //})
    //    .catch(error => {
    //        console.error('Error fetching data:', error);
    //    });

    @foreach (var item in Model)
    {
        <text>
            dates.push('@item.DateOfReading.ToString("yyyy-MM-dd HH:mm")');
            uv.push('@item.IlluminanceUV');
        </text>
    }

    for(let i=0; i<uv.length; i++){
        uv[i]=uv[i].toString();
        uv[i]=uv[i].replace(",",".");
    }

    console.log(dates);
    console.log(uv);

    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates, // Dane na osi OX
            datasets: [{
                label: 'IlluminanceUV Data', // Etykieta wykresu
                data: uv, // Dane na osi OY
                backgroundColor: 'rgba(75, 192, 192, 0.2)', // Kolor wypełnienia wykresu
                fill: true,
                borderColor: 'rgba(75, 192, 192, 1)', // Kolor linii wykresu
                tension: 0.1 // Grubość linii wykresu
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>

<br />

<h2>Odczyty z czujnika UV</h2>

<table class="table">
    <thead>
        <tr>
            <th>Natężenie światła UV</th>
@*            <th>Min natężenie dla dnia</th>
            <th>Max natężenie dla dnia</th>*@
            <th>Data Odczytu</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uv in Model)
        {
                <tr>
                <td>@Math.Round(Convert.ToDouble(uv.IlluminanceUV),2)UVI</td>
@*                <td>@uv.IlluminanceUV</td>
                <td></td>*@
                <td>@uv.DateOfReading.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("UVSensorDetails", new { date = uv.DateOfReading.ToString("yyyy-MM-dd") })" class="btn btn-outline-dark">Szczegóły dnia</a>
                </td>
                </tr>
        }
    </tbody>
</table>